[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BrailleR"]
	path = BrailleR
	url = https://github.com/ajrgodfrey/brailler
[submodule "MindOnStats"]
	path = MindOnStats
	url = https://github.com/cran/MindOnStats
